<header>
  <div class="container">
    <nav class="nav">
      <span class="site-name">{{ site.title }}</span>
      <div class="nav-links">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/education' | relative_url }}">Education</a>
        <a href="{{ '/skills' | relative_url }}">Skills</a>
		<a href="{{ '/certifications' | relative_url }}">Certifications</a>
        <a href="{{ '/projects' | relative_url }}">Projects</a>
        <a href="{{ '/experience' | relative_url }}">Experience</a>
        <a href="{{ '/cv' | relative_url }}">CV</a>
        <a href="{{ '/contact' | relative_url }}">Contact</a>
      </div>
    </nav>
  </div>
</header>
